#wrapper { width: 80%;
           margin-left: auto;
		   margin-right: auto;
		   background-color: #DAAD86;
		   min-width: 960px;
		   max-width: 2000px;
		   box-shadow: 4px 4px 4px #333333;
		    font-family:Verdana ,Helvetica, Arial;
			border-radius:25px;
			
		  
}
img{
	width: 300px;
	height: 200px;
	float:right;
	padding-top:20px;
	
}
h2{
	color:black;
	font-size:2em;
	font-family:Verdana ,Helvetica, Arial;
}
main ol li ul li {
	color:black;
	font-size:.75em;
	
}

main ol li{
	font-size:1.5em;
	color:black;
}

body{ 
	background: linear-gradient(135deg, #FFFFFF, #FFFFFF 30%,  #659DBD);
background-repeat: repeat;	
}
header{
	background-color:#659DBD;
	color:#FFFFFF;
	padding-left:15px;
	height: 80px;
	font-size:2em;
	margin-bottom:0;
	  font-family:Verdana ,Helvetica, Arial;
	text-align: center;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
}
iframe{ padding-top: 25px;}
.row {
  display:table;
  
  padding: 5px;
}
.row img {width: 200px;

		height: 150px;}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
		
figure
{position:absolute;
  left:500px;
  text-align:center;
  opacity:.25;
}
.pic1 {
	width:50px;
	height:50px;
}
nav{
	font-size:100%;
	float:left;
	width: 100px;
	font-weight:bold;
	padding-right:10px;
	margin:0;
	  font-family:Verdana ,Helvetica, Arial;
	  
	
}
a {
	text-decoration:none;
	color: blue;
}
nav a{
	text-decoration:none;
	padding-bottom: 10px;
}
nav ul{
	list-style-type: none;
	
}
nav li {
		display: block;
		padding-bottom:10px;
		
}

#indeximage{
	background-image:url(craftshow_After.jpg);
	height: 600px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-left:190px;
}

nav a:link{color:black;}
nav a:visited{color:black;}
nav a:hover{color:#FBEEC1;}

main {
      display: block;
	  background-color:#FFF0CE;
	  margin-left: 190px;
	  padding-left:30px;
	  color:#383838;
	  font-family:Verdana ,Helvetica, Arial;
	  border-bottom-right-radius:25px;
	  padding-top:1px;
	  padding-right:20px;
	  padding-bottom: 30px;
	  padding-left: 30px;
}

@media only screen and (max-width: 64em) {
	body  { margin: 0;
	       background: linear-gradient(135deg, #FFFFFF, #FFFFFF 30%,  #659DBD);
	}
	#wrapper { min-width: 0;
	           width: auto;
			   box-shadow: none;
	}
	#indeximage{
	background-image:url(craftshow_After.jpg);
	height: 500px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-left:0;
}
	header{ font-size: 1.5em;}
	main { margin-left: 0; 
		border-bottom-left-radius:25px;
	}
	nav { float: none;
	     width: auto;
		 padding: .5em;
		 text-align: center;
	}
	nav li { display: inline;
	      padding-right: 55px;
		  font-size:20px;
	
	}
	footer { margin-left: 0; }
}


@media only screen and (max-width: 37.5em) {
   main { padding: 0.1em 1em;
		 font-size: 90%;
	}
	header { 
	display:block;
	}
	h1 { font-size: 1em;
    }
	
	img{
		width: 150px;
	height: 100px;
	float:right;
	padding-top:20px;
	}
	
	iframe{ height:100px;
			width: 200px;}
	
	#indeximage{ background-image:none; height:0;}
	nav { padding: 0; }
	nav li { display: block;
	       margin: 0;
	      padding-right: 55px;
		  font-size:20px;
		 
	}
	nav a { display: block; 
	}
	
	
	label{
	 float:none;
	 text-align:left;
		}
	input[type="submit"] {margin-left:0;}
  }
  @media only screen and (max-width: 784px) {
   main { padding: 0.1em 1em;
		 font-size: 90%;
	}
	header { padding: .5em;
	}
	h1 { font-size: 1em;
    }
	nav { padding: 0; }
	nav li { display: block;
	       margin: 0;
		  
	}
	nav a { display: block; }
	label{
	 float:none;
	 text-align:left;
		}
	input[type="submit"] {margin-left:0;}
  }